#app4 {
}

@keyframes change {
  0% {
    background: red;
  }
  100% {
    background: blueviolet;
  }
}

#app4 .circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  border: 1px solid blueviolet;
}

#app4 .circle.active {
  animation: change 1s infinite alternate linear;
}
